# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Database
db.sqlite3

# Environment variables
.env

# IDEs
.vscode/

# Media and Static
/static/
/media/

# Security
.env

# Settings
.vscode/
vscode/